/* Error: expected ":".
 *    ,
 * 29 |     url('../fonts/icons/icons.ttf?llfu9s') format('truetype'),
 *    |        ^
 *    '
 *   sass\settings\_fonts.sass 29:8  @import
 *   sass\style.sass 3:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \":\".\a    \2577 \a 29 \2502      url('../fonts/icons/icons.ttf?llfu9s') format('truetype'),\d\a    \2502         ^\a    \2575 \a   sass\\settings\\_fonts.sass 29:8  @import\a   sass\\style.sass 3:9             root stylesheet";
}
