*
	outline: none

html, body
	margin: 0
	padding: 0
	height: 100%
	width: 100%

body
	font-size: rem(18px)
	font-family: $font_default

h1,h2,h4,h5,h6
	font-family: $font_bold
.wrapper
	position: relative
	overflow: hidden
	min-height: 100%

.no-scroll
	overflow: hidden

.container
	margin: 0 auto
	max-width: 1170px
	padding: 0 .5rem
	box-sizing: border-box

.btn
	padding: 11px 39px
	background: linear-gradient(to right, #FE6201, #ED4B7C)
	border: none
	color: #ffffff
	font-size: 1rem
	text-transform: uppercase
	border-radius: 24px
	font-weight: 700
	text-decoration: none

%flex_center
	display: flex
	justify-content: center
	align-items: center

%flex_space-evenly
	display: flex
	align-items: center
	justify-content: space-evenly

%flex_space-between
	display: flex
	align-items: center
	justify-content: space-between

%flex_space-around
	display: flex
	align-items: center
	justify-content: space-around

%btn_purple
	padding: 10px 38px
	background: #3D2B99
	color: #ffffff
	box-shadow: 0px 8px 12px rgba(61, 43, 153, 0.3)
	border-radius: 8px
	text-decoration: none
	font-weight: bold

%block__title
	font-size: 42px
	color: #2B283A
	font-weight: normal

.striped-left:before,
.striped-right:after
	content: ''
	width: 155px
	height: 155px
	background: radial-gradient(orangered 2px, transparent 2px, transparent 4px)
	background-size: 20px 20px
	position: absolute
	z-index: -2

.striped-left:before
	left: -50px
.striped-right:after
	right: -50px

.header__menu
	display: none