section.content__cards
  .cards__header
  .container
    h2.contents__cards__title Follow me me on twitter
    .cards__wrap
      .card
        .card__title SSC Exams
        .card__desc Lorem ipsum dolor sit amet,consectetur adipiscing elit ut aliquam, purus sit amet luctus
        ul.card__list-item
          li.card__list Lorem ipsum dolor sit amet
          li.card__list Dolor sit amet, consect
          li.card__list liquam, purus sit amet luctus
      .card
        .card__title SSC Exams
        .card__desc Lorem ipsum dolor sit amet,consectetur adipiscing elit ut aliquam, purus sit amet luctus
        ul.card__list-item
          li.card__list Lorem ipsum dolor sit amet
          li.card__list Dolor sit amet, consect
          li.card__list liquam, purus sit amet luctus
      .card
        .card__title SSC Exams
        .card__desc Lorem ipsum dolor sit amet,consectetur adipiscing elit ut aliquam, purus sit amet luctus
        ul.card__list-item
          li.card__list Lorem ipsum dolor sit amet
          li.card__list Dolor sit amet, consect
          li.card__list liquam, purus sit amet luctus