section.content__cards
  .cards__header
    h2.contents__cards__title Follow me on Twitter
  .container
    .cards__wrap
      .card.striped-left
        .card__title SSC Exams
        .card__desc The SSC Exams are conducted to recruit staff to various posts in departments and organisations of the Government of India.
        ul.card__list-item
          li.card__list SSC General Duty Exam
          li.card__list SSC Junior Engineer Exam
          li.card__list SSC Multi-Tasking Staff Exam
          i.icon-white-arrow
      .card
        .card__title Bank Exams
        .card__desc In India, bank exams are often considered in high regard for aspiring candidates who wish to step into the banking domain.
        ul.card__list-item
          li.card__list SBI Probationary Officers
          li.card__list RBI Oficer Grade Exam
          li.card__list IBPS PO Preliminary Exam
          i.icon-white-arrow
      .card
        .card__title UPSC CSE
        .card__desc The Civil Services Exam in India is a nationwide competitive examination conducted by the Union Public Service Commission.
        ul.card__list-item
          li.card__list UPSC Prelims
          li.card__list UPSC Mains
          li.card__list UPSC Personality Test
          i.icon-white-arrow