section.comment
  .container.comment__container
    .comment__title__wrap
    h2.comment__title What our students have to say
    .comment__block
      img.comment__pic(src="../img/Woman.png", alt="")
      .comment__wrap
        span.icon
          i.icon-left-quotes
        p.comment__desc I work in project management and joined this course because I get great courses for less.The instructors are fantastic, interesting, and helpful. I plan to use this for a long time!
        span.icon
          i.icon-right-quotes
        h5.commentator__name -Zulaika