section.footer
  .container.footer__container
    .footer__list
      ul.list__item
        li.list IIT main
        li.list JEE advance
        li.list Bank exams
        li.list UPSC
        li.list SSC exams
    .footer__list
      ul.list__item
        li.list About
        li.list Career
        li.list Privacy policy
        li.list Blogs
        li.list Contacts
    .contact-details
      h3.contact__title Contact us
      .email__wrap
        i.icon-Mail 
        span.email ramona.lowe@example.com
      .address__wrap
        i.icon-Location
        span.address 8575 Nowlin Rd undefined Lewiston,  Alabama 73143 United States
    nav.social__nav
      h3.social__nav__title Follow us
      .social__nav__wrap
        i.icon-Facebook
        i.icon-Twitter
        i.icon-Instagram
        i.icon-Youtube