header.header
  .container.header-container
    .header__top
      .logo__wrap
        h3.logo-colored Online
        span.logo  Learning
      nav.top__nav
        a.nav__link(href="#") Home
        a.nav__link(href="#") Categories
        a.nav__link(href="#") Buy course
        a.nav__link(href="#") Contact Us
      button.btn.nav__btn Login
      .header__menu
        button.hamburger.hamburger--collapse(type='button')
          span.hamburger-box
            span.hamburger-inner
        .header__dropMenu
          a.nav__link(href="#") Home
          a.nav__link(href="#") Categories
          a.nav__link(href="#") Buy course
          a.nav__link(href="#") Contact Us
          button.btn.nav__btn Login
    .header__info
      .info__title__wrap
        h2.info__title Watch daily Live Classes
      p.info__desc Build your skills with online courses, certifications and degree programs from top universities and companies in the world
      a.btn(href="#") Browse courses
    
  .header__img-wrap.striped-left.striped-right
    img.header__img(src="img/header-img.png", alt="")

