section.legend
  .container.legend__container
    .legend__info
      h2.info__headline Learn from the Legends
      p.info__desc Today you can start watching lectures from the best teachers in subjects such as business, computer science, data science, and language learning.
    .legend__item
      h3.item__title Daily live classes
      p.item__text Choose from a variety of training options, including free courses at a great price.
      a.btn.item__btn Start learning
    .legend__item.legend__item2.striped-right
      h3.item__title Practice and revise
      p.item__text Choose from a variety of training options, including free courses at a great price.
      a.btn.item__btn Start learning