section.newsletter
  .container.newsletter__container.striped-left
    h2.newsletter__title Subscribe for newsletter
    .newsletter__form
      label.form__label(for="newsletter-email-input")
      .newsLetter__input
        input.form__input(id='newsletter-email-input' type="email" placeholder='Enter email address' )
        button
          <i class="icon-white-arrow"></i>