section.teachers
  h2.teachers__title Our best teachers
  .container
    .teachers_cards-block
      .teacher__card
        img.pics__bg(src="../img/Figure.svg", alt="")
        
        img.teacher__pic(src="../img/Janett.png", alt="")
        h3.teacher__caption Janett Bell
        span.teacher__subtitle English teacher

      .teacher__card
        img.pics__bg(src="../img/Figure.svg", alt="")
        
        img.teacher__pic(src="../img/Morris.png", alt="")
        h3.teacher__caption Morris Howard
        span.teacher__subtitle Physics teacher

      .teacher__card
        img.pics__bg(src="../img/Figure.svg", alt="")
        
        img.teacher__pic(src="../img/Brandon.png", alt="")
        h3.teacher__caption Brandon Pena
        span.teacher__subtitle History teacher
    
      .teacher__card
        img.pics__bg(src="../img/Figure.svg", alt="")
          
        img.teacher__pic(src="../img/Shane.png", alt="")
        h3.teacher__caption Shane Black
        span.teacher__subtitle Biology teacher


