.container.topics__container
  section.topics
    .topics__title__wrap
      h2.topics__title Topics recommended for you
    a.topics__link(href="#") JEE main
    a.topics__link(href="#") JEE advance
    a.topics__link(href="#") Bank exams
    a.topics__link(href="#") NEET
.striped.topics__striped

