.cards__header
  background: #F1F3F6
  width: 100%
  height: rem(263px)
  z-index: -2
  position: absolute
  margin: -140px auto

.contents__cards__title
  @extend %block__title
  text-align: center
.cards__wrap
  width: 100%
  height: 100%
  box-sizing: border-box
  margin-top: rem(278px)
  @extend %flex_space-between
  flex-wrap: wrap
  align-items: stretch

.card
  flex: 1 0 30%
  padding: 40px
  background: linear-gradient(90deg, #ADD100 0%, #7B920A 100%)
  color: #ffffff
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3)
  border-radius: 24px
  margin-right: 30px
  position: relative
  margin-bottom: 20px
  box-sizing: border-box
  &:first-child
    background: linear-gradient(34.87deg, #4776E6 1.22%, #8E54E9 97.88%)
  &:last-child
    margin-right: 0
    background: linear-gradient(33.88deg, #FE6201 6.73%, #ED4B7C 96.13%)
  &::before
    top: -40px
    left: -80px

.card__title
  font-size: 24px
  font-weight: bolder
.card__title, .card__desc
  text-align: center
.card__desc
  margin: 30px auto
.card__list
  margin: 22px 0

ul
  list-style: none
  position: relative
.card__list:before
  content: ''
  position: absolute
  height: 2px
  width: 15px
  background: #ffffff
  margin: 12px 0
  left: 6px

.icon-white-arrow
  font-size: 40px
  height: 20px
  width: 20px


@media screen and ( max-width: 1200px )
  .cards__wrap
    justify-content: center

  .card
    flex: 0 0 45%
    margin: 0
    margin-bottom: 30px
  
    &:first-child
      margin-right: 30px

@media screen and ( max-width: 768px )
  .cards__wrap
    display: block
    padding: 30px 20px

  .card
    margin-right: 0 !important