.comment
  position: relative
  margin-top: 178px

.comment__container
  display: flex
  
.comment__title__wrap
  min-height: rem(209px)
  width: 50%
  left: 0
  background: #F1F3F6
  position: absolute
  z-index: -1
  border-radius: 12px
.comment__title
  position: relative
  @extend %block__title
  flex-basis: 35%
  margin-right: 2rem
  // margin: 3.7% 0 3.6% 60%

.comment__block
  height: rem(299px)
  flex-basis: 65%
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.1)
  border-radius: 8px
  background: #ffffff
  position: relative
  margin: 67px 0 auto auto

.comment__wrap
  padding: 4% 7%

.comment__pic
  margin: -60px 44% auto 44%

.icon-left-quotes, .icon-right-quotes
  color: #FE6201
  position: relative
.icon-right-quotes
  margin: 0 0 0 98%
.comment__desc
  font-style: italic
  font-weight: 400
  color: #404040
  line-height: 18px
  text-align: center
  font-size: 1rem

.commentator__name
  position: relative
  font-weight: normal
  margin-left: 92%
