.footer
  background: #F1F3F6
  height: rem(342px)
  padding: 108px 0 59px
  ul, span.email, span.address
    color: #7D7D7D
  i
    font-size: 25px
    transition: .4s
    &:hover
      font-size: 30px
      cursor: pointer
      text-shadow: 0px 0px 45px rgba(0, 0, 0, 0.4)

  h3
    font-weight: lighter
    font-size: 24px
.footer__container
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  vertical-align: top

.list__item
  padding-left: 0

.list
  margin: 20px
  left: 0
  cursor: pointer
  transition: .4s
  &:hover
    font-size: 20px
    color: #252525

  &:last-child
    margin-bottom: 0

.contact-details
  width: rem(320px)

.email__warp, .address__wrap
  display: flex
  align-items: center
  justify-content: end

.email__wrap
  margin-bottom: 25px

.email, .address
  font-size: 16px

.icon-Mail, .icon-Location
  vertical-align: bottom
.icon-Location
  margin-right: 10px

.social__nav__wrap
  i
    margin: 10px 12px

@media screen and ( max-width: 960px )
  .footer
    text-align: center
    li
      display: inline
      margin: 12px
  .footer__list
    flex: 1 1 80%
  .contact-details
    text-align: center
    margin: auto
  .social__nav
    flex: 1 1 80%
    margin-bottom: 30px