.header
  padding-bottom: 2rem
  position: relative

  &__img-wrap
    position: absolute
    right: 0
    top: 0
    width: 35vw

    &::before
      top: 30%
      transform: translateY(-50%)
    &::after
      top: 70%
      transform: translateY(-50%)
  
  &__img
    width: 100%

  &-container
    margin-top: 0
    position: relative
    z-index: 3
  
  &__top
    margin: 0 auto 34px
    padding-top: 34px
    display: flex
    justify-content: space-between
    align-items: center

.logo-colored
  font-family: "Poppins"
  text-transform: uppercase
  color: #FE6201
  font-weight: 900
  font-size: 1rem
  margin: 0
  letter-spacing: 0.745em

.logo
  font-family: "Playfair-display"
  font-weight: normal
  font-size: 26px
  margin: 0
  letter-spacing: 0.100em
  line-height: 25px
  color: #252525

.top__nav
  @extend %flex_center

.nav__link
  text-decoration: none
  font-size: 18px
  font-weight: 700
  color: #6D6D6D
  margin-left: 35px
  transition: .4s
  &:first-child
    margin-left: 0
  &:hover
    color: #252525
    font-size: 20px

.nav__btn
  transition: .4s
  &:hover
    cursor: pointer
    font-size: 18px
.header__info
  max-width: 532px
  padding-top: 100px
  margin: 50px 20px
  a
    &:hover
      cursor: pointer
      font-size: 18px

.info__title__wrap
  max-width: 380px

.info__title
  font-size: 60px
  color: #2B283A
  font-weight: 700

.info__desc
  color: #6B6B6B
  margin-bottom: 44px

.header__striped
  margin: 40px 600px 0 568px
.header__striped2
  margin: 318px 0 0 1115px

@media screen and ( max-width: 992px )
  .header__top
    background: #fff
    z-index: 20
    position: fixed
    top: 0
    left: 0
    right: 0
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1)
    padding: 20px
  .header__dropMenu
    position: fixed
    display: flex
    flex-direction: column
    top: -100%
    transition: .6s all
    right: 0
    justify-content: center
    text-align: center
    left: 0
    z-index: -1
    height: 100%
    background: #fff
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1)
    box-sizing: border-box
  .top__nav
    display: none
  .nav__btn
    display: none
  .hamburger, .hamburger--collapse
    outline: none
    color: #333333
    border: none
  .header__menu
    outline: none
    display: block
  .nav__link
    text-align: center
    margin-left: 0
    margin-bottom: 25px
    font-size: 24px
    &:hover
      font-size: 28px
  .menu-active
    top: 0
  .topics__link
    margin-left: 7px
  .header__info
    text-align: center
    margin: 50px auto
@media screen and ( max-width: 575px )
  .info__title
    font-size: 50px
    margin: 40px 20px
  .info__desc
    margin: auto 20px 30px