.legend
  @extend %flex_space-evenly
  height: 400px
  margin-top: 100px

.legend__info
  max-width: rem(324px)
  
.info__headline
  font: $block_font
  color: $headline_color
  font-weight: 700

.legend__item
  // color: #ffffff
  background-image: url(../img/doc.png)
  height: rem(295px)
  width: rem(370px)
  text-align: center
  color: #ffffff
  box-sizing: border-box
  padding: 60px 58px
  position: relative
.legend__item2
  background-image: url(../img/laptop.png)

.item__title
  font-size: 28px
.item__text
  font-weight: 700

.item__btn
  position: relative
  bottom: -35px



