.newsletter
  margin-top: rem(139px)
  bottom: -74px
  position: relative

.newsletter__container
  background: linear-gradient(90.06deg, #FE6201 0.05%, #ED4B7C 99.94%)
  border-radius: 8px
  height: rem(172px)
  @extend %flex_space-evenly

.newsletter__title
  color: #ffffff
  font-size: 32px

.form__input
  padding: 15px 25px
  background: none
  border-radius: 28px
  border: 1px solid #ffffff
  width: rem(404px)
  font-size: 18px
  color: #ffffff