.topics__container
  display: flex
  align-items: center
  justify-content: space-around
  height: rem(171px)
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1)
  background: #fff
  margin-top: rem(70px)
  position: relative
  &:before
    bottom: -40px
    left: -98px

.topics__title__wrap
  max-width: rem(250px)

.topics__title
  font-size: rem(24px)
  color: #2b283a
.topics__links
  width: 70%
  // display: flex
  box-sizing: border-box

.topics__link
  @extend %btn_purple
  white-space: nowrap
  text-align: center
  display: inline-block
  margin: 20px 20px

.topics__striped
  position: absolute
  left: -70px
  bottom: -70px
  z-index: -1

@media screen and ( max-width:  1150px)
  .topics__container
    display: inline-block
    width: 100%
    height: rem(200px)

  .topics__title__wrap
    max-width: 100%
    margin: 10px auto
    text-align: center

  .topics__links
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 1rem
    width: 60%
    margin: auto
  .topics__link
    margin: 0
    align-items: center
@media screen and ( max-width: 575px)
  .topics__container
    height: rem(330px)
  .topics__link
    grid-column: span 2