<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Online Learning
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="./node_modules/hamburgers/dist/hamburgers.css")
    link(rel="stylesheet", href="./node_modules/hamburgers/dist/hamburgers.min.css")
  body
    .wrapper
      include includes/header
      include includes/topics
      include includes/legend
      include includes/cards
      include includes/comment
      include includes/teachers
      include includes/newsletter
      include includes/footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="./js/main.js")